<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {# bootstrap #}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            {# custom #}
            <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <script src="https://kit.fontawesome.com/d273ac5570.js"></script>

        {% endblock %}    
    </head>
    <body>
        {% include('partials/nav.html.twig') %}
        {% include('partials/navtag.html.twig') %}
        
        
        {% block body %}{% endblock %}
        <footer>
                <div class="foot">
                    <p>Ceci est un parcours (évaluation), réalisé par Coralie BLANCO.</p>
                </div>
            </footer>
        
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="{{ asset('js/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>


</html>
