{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <h1>Poser une question</h1>
    {{ form(questionForm, {'attr': {'class':'question_form'}}) }}
{% endblock %}