{% extends 'base.html.twig' %}

{% block title %}Question{% endblock %}

{% block body %}
    <h1>Modifier une Question</h1>

    {{ form(questionForm) }}

    <a href="{{ path('question_delete', {'question': question.id}) }}">
        <button type="button" class="btn btn-danger">Supprimer</button>
    </a>
{% endblock %}